TELEGRAM_BOT_TOKEN="8638229891:AAHLWSfM2ABV5_MlR3We9MZvYDNHDtnmqwg"

GROQ_API_KEY="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"

GEMINI_API_KEY="AIzaSyDJPkOlcp_fmZnt9UFIf5iRo60oyEktfd0"

DB_PATH="./memory.db"
# Comma-separated list of allowed Telegram user IDs
ALLOWED_USER_IDS="5692051103"
