fastapi
uvicorn
python-dotenv
pydantic
Pillow
requests
urllib3
google-generativeai
groq
openai
beautifulsoup4
pandas
scikit-learn
python-multipart
psycopg2-binary
kaggle
gTTS
bcrypt
opencv-python-headless
numpy
